<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnmAT0g-RVOKKa2OEZvU6NqNo_cf3HD2E</string>
	<key>GCM_SENDER_ID</key>
	<string>833660204691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cyberBee</string>
	<key>PROJECT_ID</key>
	<string>cyberbee-9984d</string>
	<key>STORAGE_BUCKET</key>
	<string>cyberbee-9984d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833660204691:ios:89f57f5d548c02cf9dff66</string>
</dict>
</plist>